.DS_Store
npm-debug.log
node_modules

# exclude atom theme
styles/atom.less
styles/badges.less
styles/buttons.less
styles/config.less
styles/core.less
styles/dropdowns.less
styles/editor.less
styles/git.less
styles/key-binding.less
styles/lists.less
styles/messages.less
styles/modal.less
styles/nav.less
styles/packages.less
styles/panels.less
styles/panes.less
styles/progress.less
styles/settings.less
styles/sites.less
styles/status-bar.less
styles/tabs.less
styles/text.less
styles/tooltips.less
styles/tree-view.less
styles/ui-mixins.less
styles/ui-variables.less
styles/inputs.less
styles/ui-variables-custom.less
