@import "ui-variables";
@team-icon-size: 32px;
@top-margin: 6px;

.im-modal:before, .im-modal:after {
  display: none;
  background-color: @base-background-color !important;
}

.im-modal {
  margin: 0 !important;
  padding: 0 !important;
  background-color: @base-background-color !important;

  // Reset
  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  ol, ul {
  	list-style: none;
  }
  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }

  .im {
    display: flex;

    .im-main {
      flex: 1;
      height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: @base-background-color;

      .top-bar {
        min-height: 5vh;
      }

      .messages-view {
        flex: 1;
        padding-bottom: 90px;
        overflow-y: scroll;
        background-color: @app-background-color;

        .im-message {
          font-size: 14px;
          display: flex;
          justify-content: flex-start;
          min-height: 22px;
          margin: 3px 5px;

          &:nth-child(odd) {
            // background: red;
            background-color: @background-color-highlight;
          }

          &:hover {
            background-color: @background-color-highlight;
          }

          .gutter {
            width: 50px;
          }
          .content {
            flex: 1;
          }
        }
      }

      .master-input {
        min-height: 32px;
        border-top: 1px solid @base-border-color;
        background-color: @base-background-color;

        bottom: 0;
        right: 0;
        position: absolute;


        .im-editor {
          margin: 10px;
          padding: 7px 0 7px 35px;
          border: 1px solid @base-border-color;
          width: 1210px;

          &::shadow {

            .cursor-line {
              background-color: @base-background-color;
            }

            .gutter {
              display: none;
            }
          }
        }
      }
    }

    .im-side-bar {
      display: flex;
      justify-content: flex-start;

      .teams {
        min-height: 100vh;
        border-right: 1px solid @base-border-color;
        color: @text-color-subtle;
        text-align: center;
        display: flex;
        flex-direction: column;

        li {
          margin: @top-margin 5px;

          img {
            display: block;
            border-radius: 3px;
            width: @team-icon-size;
            height: @team-icon-size;
          }
        }
      }

      .team-details {
        background-color: @base-background-color;
        border-right: 1px solid @base-border-color;
        display: block;

        .user-info, .direct-messages, .channels {
          margin: @top-margin 16px 16px 16px;
          font-size: 14px;
        }

        .direct-messages, .channels {
          h3 {
            text-transform: uppercase;
            font-size: 14px;
            color: @text-color-subtle;
            small {
              font-size: 12px;
            }
          }
        }

        .user-info {
          .team-name {
            font-size: 16px;
            font-weight: 900;
            color: @text-color-highlight;
          }

          .user-name {

          }
        }
      }
    }
  }
}
